body {
<<<<<<< HEAD
  background-color: #34344c;//34344c //f0f8ff
  font-family: Arial;
  margin: 0;
  height: 100%;
=======
  background-color: #34344c;
  font-family: Arial, Verdana, sans-serif;

>>>>>>> 317085fc3f19f92298a867c13da4e1a5ad52171a
}

.wrapper {
  position: relative;
  min-height: 100%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #34344c;
  margin-bottom: 20px;
}

nav {
  text-align: center;
}

ul {
  margin-left: 0;
  padding-left: 0;
  margin: 0;
}

li {
  list-style-type: none;
  color: white;
  text-decoration: none;
}

nav a, li {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  display: inline-block;
  font-size: 1.1em;
  font-family: Arial, Verdana, sans-serif;
}

nav div {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  display: inline-block;
  font-size: 1.1em;
  font-family: Arial, Verdana, sans-serif;
}

nav div:hover{
    background-color: #5c5c8a;
    text-decoration: none;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}

nav a:hover,
nav a:focus,
nav a:active {
  background-color: #5c5c8a;
  color: white;
  border-radius: 8px;
}

.container {
  /*background: rgb(200, 200,200);*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  opacity: 0.98;
  /*display: none;*/
}

.choose_lesson_type {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content:space-between;
  background: #f0f8ff;
  /*background: #f0f8ff;*/
  border-radius: 20px;
  -webkit-box-shadow: 0 0 40px 0 rgba(255,255,255,1);
  box-shadow: 0 0 40px 0 rgba(255,255,255,1);
}

.choose_lesson_type article {
  background-color: #f5f5f5;
  /*border: solid 1px #5c5c8a;*/
  width: 200px;
  height: 350px;
  margin-left: 20px;
  margin-bottom: 40px;
  /*padding: 15px;*/
  position: relative;
  border-radius: 10px;
  box-sizing: border-box;
  -webkit-box-shadow: 20px 10px 20px 20px #7A7C85;
  box-shadow: 0 10px 20px 5px #7A7C85;
}

.choose_lesson_type img {
  width: 200px;
  height:154px;
  border-radius: 10px 10px 0 0;
}

.online_counseling img {
  background-image: url(../img/skype.jpg);
}


.bottom_part {
  position: relative;
  /*bottom: -20px;*/
  margin: 20px;
}

.diagnostics .bottom_part {
  bottom: -26px;
}

.line {
  width: 100%;
  height: 1px;
  background:black;
  position: relative;
}

.enroll_button {
  text-decoration:none;
  display: block;
  width: 125px;
  height: 30px;
  background: #34344c;
  text-align: center;
  padding-top: 6px;
  box-sizing: border-box;
  color: black;
  border-radius: 10px;
  box-shadow: none;
  padding-top: 5px;
  margin-bottom: 20px;
  color: #f0f8ff;
}

.enroll_button:active {
  -webkit-box-shadow: 0 10px 20px 0 #545763;
  box-shadow: 0 10px 20px 0 #545763;
}


.choose_lesson_type  .enroll_form {
  width: 420px;
  border-radius: 10px;
  padding-bottom: 25px;
  position: absolute;
  top: auto;
  padding: 20px;
  height: auto;
}

.choose_lesson_type .enroll_form {

}

.description {
  width: 46%;
  float:right;
}

.enroll_form input {
  margin-bottom: 10px;
  border-radius: 6px;
}

.enroll_form textarea {
  margin-bottom: 20px;
  border-radius: 6px;
}

.over_lay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
}

.label_from {
  position: relative;
  left: -21px;
}

.close_form {
  position: relative;
  width: 18px;
  height: 18px;
  background: none;
  box-shadow: none;
  left: 411px;
  top: -16px;
  border: none;
  z-index: 50;
}

.close_form::before {
  position: absolute;
  background: white;
  display: block;
  content: "";
  width: 19px;
  height: 3px;
  top: 7px;
  left: -2px;
  transform: rotate(45deg);
}

.close_form::after {
  top: 7px;
  left: -2px;
  transform: rotate(-45deg);
  position: absolute;
  background: white;
  display: block;
  content: "";
  width: 19px;
  height: 3px;
}

footer {
  height: 36px;
  background: #34344c;
  margin-top:140px;
  /*position: absolute;*/
  left: 0;
  bottom: 0;
  width: 100%;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center

}

footer a {
  display: inline-block;
  width: 30px;
  height:30px;
  margin-left: 20px;
  margin-top: 3px;
  border-radius: 50%;
  background-position: center center; /* Положение фона */
  background-repeat: no-repeat;
}

.tw {
  background-image: url(../img/tw.png);
  /*background-position: center center; /* Положение фона */
  background-repeat: no-repeat;*/
  background-color:#6c7e7d;
}

.inst {
  background-image: url(../img/inst.png);
  /*background-position: center center; /* Положение фона */
  background-repeat: no-repeat;*/
  background-color:#6c7e7d;
}

.fb {
  background-image: url(../img/fb.png);
  /*background-position: center center; /* Положение фона */
  background-repeat: no-repeat;*/
  background-color:#6c7e7d;
}


.hidden {
    display: none;
  }

.not_hidden {
  display: block;
}
