body {
    background-color: #34344c;
}

nav{
    background-color: #34344c;
    text-align: center;
}

nav a {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-family: Arial, Verdana, sans-serif;
}

nav a:hover,
nav a:focus,
nav a:active {
    background-color: #5c5c8a;
    color: white;
}


    .container {
        width: 70rem;
        margin: 0 auto;
    }

    .background {
        background-color: white;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }

    .image {

        background-image: url("http://www.zastavki.com/pictures/originals/2013/Nature__039469_.jpg");
        height: 20%;
        height: 400px;
        box-sizing: border-box;
    }
    img {
       width: 70rem;
        height: 30rem;


    }

    .text {

        display: flex;
        flex-direction: column;
        align-items: center;

    }
