body {
  background-color: #34344c;
  font-family: Arial, Verdana, sans-serif;

}

.wrapper {
  min-height: calc(100vh - 120px);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #34344c;
  margin-bottom: 1px;
}

h1 {
  display: none;
}

nav {
  text-align: center;
}

nav ul {
  padding-left: 0;
  margin: 0;
}

.hidden-menu {
  display: none;
  position: fixed;
  list-style: none;
  flex-direction: column;
  text-align: center;
  margin: 0;
  box-sizing: border-box;
  height: 215px;
  background-color: #34344c;
  width: 100%;

  top: -215px;
  transition: 1s;
  z-index: 2;
}

.hidden-menu li
{
  margin-left: -40px;
  margin-top: 5px;
}

.hidden-menu-ticker {
  display: none;
}

.btn-menu {
  display: none;
  color: #34344c;
  background-color: #5c5c8a;
  padding: 5px;
  position: fixed;
  top: 5px;
  right: 5px;
  cursor: pointer;
  transition: 1s;
  z-index: 3;
  width: 35px;
  opacity: 0.85;

}
.btn-menu span {
  display: block;
  height: 5px;
  background-color: #34344c;
  margin: 5px 0 0;
  transition: all .1s linear .23s;
  position: relative;
}
.btn-menu span.first {
  margin-top: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu {
  top: 175px;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
  top: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.first {
  -webkit-transform: rotate(45deg);
  top: 10px;
}
.hidden-menu-ticker:checked ~ .btn-menu span.second {
  opacity: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.third {
  -webkit-transform: rotate(-45deg);
  top: -10px;
}

li {
  list-style-type: none;
  color: white;
  text-decoration: none;
}

nav a, li {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  display: inline-block;
  text-decoration: none;
  font-size: 1.1em;
  font-family: Arial, Verdana, sans-serif;
}

nav div {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  display: inline-block;
  font-size: 1.1em;
  font-family: Arial, Verdana, sans-serif;
}

nav div:hover{
    background-color: #5c5c8a;
    text-decoration: none;
    color: white;
    cursor: pointer;
    /*border-radius: 8px;*/
}

nav a:hover,
nav a:focus,
nav a:active {
  background-color: #5c5c8a;
  text-decoration: none;
  color: white;
  /*border-radius: 8px;*/
}

.container {
  /*background: rgb(200, 200,200);*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75rem;
  margin: 0 auto;
  padding: 30px;
  /*opacity: 0.98;*/
  /*display: none;*/
}

.choose_lesson_type {
  display: flex;
  width: 85%;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content:space-between;
  /*background: #f0f8ff;*/
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 40px 0 rgba(255,255,255,1);
  box-shadow: 0 0 40px 0 rgba(255,255,255,1);
}

.choose_lesson_type article {
  background-color: #f5f5f5;
  /*border: solid 1px #5c5c8a;*/
  width: 200px;
  height: 350px;
  margin: 40px;
  position: relative;
  border-radius: 10px;
  box-sizing: border-box;
  -webkit-box-shadow: 20px 10px 20px 20px #7A7C85;
  box-shadow: 0 10px 20px 5px #7A7C85;
}

.choose_lesson_type img {
  width: 200px;
  height:154px;
  border-radius: 10px 10px 0 0;
}

.online_counseling img {
  background-image: url(../img/skype.jpg);
}


.bottom_part {
  position: relative;
  /*bottom: -20px;*/
  margin: 20px;
}

.diagnostics .bottom_part {
  bottom: -26px;
}

.line {
  width: 100%;
  height: 1px;
  background:black;
  position: relative;
}

.enroll_button {
  text-decoration:none;
  display: block;
  width: 125px;
  height: 30px;
  background: #34344c;
  text-align: center;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: none;
  padding-top: 5px;
  margin-bottom: 20px;
  color: #f0f8ff;
}

.enroll_button:active {
  -webkit-box-shadow: 0 10px 20px 0 #545763;
  box-shadow: 0 10px 20px 0 #545763;
}


.choose_lesson_type  .enroll_form {
  width: 420px;
  border-radius: 10px;
  position: absolute;
  top: auto;
  padding: 20px;
  padding-bottom: 25px;
  height: auto;
}


.description {
  width: 46%;
  float:right;
}

.enroll_form input {
  margin-bottom: 10px;
  border-radius: 6px;
}

.enroll_form textarea {
  margin-bottom: 20px;
  border-radius: 6px;
}

.over_lay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
}

.label_from {
  position: relative;
  left: -21px;
}

.close_form {
  position: relative;
  width: 18px;
  height: 18px;
  background: none;
  box-shadow: none;
  left: 411px;
  top: -16px;
  border: none;
  z-index: 50;
}

.close_form::before {
  position: absolute;
  background: white;
  display: block;
  content: "";
  width: 19px;
  height: 3px;
  top: 7px;
  left: -2px;
  transform: rotate(45deg);
}

.close_form::after {
  top: 7px;
  left: -2px;
  transform: rotate(-45deg);
  position: absolute;
  background: white;
  display: block;
  content: "";
  width: 19px;
  height: 3px;
}

footer {
  height: 36px;
  background: #34344c;
  margin-top:33px;
  /*position: absolute;*/
  left: 0;
  bottom: 0;
  width: 100%;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center

}

footer a {
  display: inline-block;
  width: 30px;
  height:30px;
  margin: 0 1rem 0 1rem;
  border-radius: 50%;
  background-position: center center; /* Положение фона */
  background-repeat: no-repeat;
  opacity: 1;
}

.tw {
  background-image: url(../img/tw.png);
  /*background-position: center center; /* Положение фона */
  background-repeat: no-repeat;
  background-color:#34344c;
}

.inst {
  background-image: url(../img/inst.png);
  /*background-position: center center; /* Положение фона */
  background-repeat: no-repeat;
  background-color:#34344c;
}

.fb {
  background-image: url(../img/fb.png);
  /*background-position: center center; /* Положение фона */
  background-repeat: no-repeat;
  background-color:#34344c;
}

.vk {
    background-image: url(../img/vk.png);
    background-repeat: no-repeat;
    background-color:#34344c;
}


.hidden {
    display: none;
  }

.not_hidden {
  display: block;
}


/*Medium screen*/
@media only screen and (max-width: 42.063em) {
  header{
    display: none;
  }
  .hidden-menu{
    display: flex;
  }
  .btn-menu{
    display: inherit;
  }

  h1 {
    display: block;
    color: white;
    margin: 10px;
    text-align: left;
  }

  .container {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #34344c;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .choose_lesson_type article {
      margin: 1%;
      border-radius: 0;
      width: 48%;
  }

  .choose_lesson_type img {
    border-radius: 0;
    width: 100%;
  }

  .choose_lesson_type .enroll_form {
    width: 100%;
    border-radius: 0;
    padding: 10px;
    /*padding-bottom: 0;*/
  }

  .close_form {
    position: absolute;
    left: 88%;
    top: 4px;
  }

  .close_form::after {
    background: black;
  }

  .close_form::before {
    background: black;
  }

  .description {
    width: 92%;
    margin: 0 auto;
    float:none;
    margin-bottom: 20px;
  }

  .label_from {
    left: 0;
  }



}


/*Small screen*/
@media only screen and (max-width: 20.063em) {

.choose_lesson_type article {
  font-size: 10px;
  margin: 1px;
  height: 128px;
  width: 100%;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.choose_lesson_type {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #34344c;
}

.line {
  width: 95%;
}

.bottom_part {
  position: relative;
  margin: 20px;
  left: 31%;
  width: 63%;
}


.diagnostics .bottom_part {
  bottom: 0;
}

.enroll_button {
  border-radius: 0;
  padding: 9px;
}

.choose_lesson_type img {
    width: 34%;
    height: 74%;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    top: 18px;
}


.choose_lesson_type .enroll_form {
  width: 100%;
  border-radius: 0;
  padding: 10px;
  /*padding-bottom: 0;*/
}

.close_form {
  position: absolute;
  left: 88%;
  top: 4px;
}

.close_form::after {
  background: black;
}

.close_form::before {
  background: black;
}

.description {
  width: 92%;
  margin: 0 auto;
  float:none;
  margin-bottom: 20px;
}

.label_from {
  left: 0;
}





}
