body {
  background-color: #ada1e6;
  font-family: Arial;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #605399;
}

nav {
  text-align: center;
}

ul {
  margin-left: 0;
  padding-left: 0;
  margin-top: 0;
}

li {
  list-style-type: none;
  color: white;
  text-decoration: none;
}

nav a, li {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  display: inline-block;
  font-size: 1.1em;
  font-family: Arial, Verdana, sans-serif;
}

nav div {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  display: inline-block;
  font-size: 1.1em;
  font-family: Arial, Verdana, sans-serif;
}

nav a:hover,
nav a:focus,
nav a:active {
  background-color: #e4def9;
  color: white;
}

.contanier {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;

}

.left_side {
  float:left;
  width: 30%;
  min-height: 200px;
  position: relative;
  top: 12px;
}

.left_side ul {
  shadow: 0 4px 20px 0 rgba(00,00,00,1);
  box-shadow: 0 4px 20px 0 rgba(00,00,00,1);
  background: #6053b4;
  border-radius: 5px;
}

.left_side li {
  padding-left: 5px;
  color: black;
}

.left_side a {
  display: block;
  padding: 3px;
}

.left_side a:hover {
  background: #b183fc;
}

.right_side {
  float:right;
  width: 65%;
  min-height: 200px;
}

article {
  background: #6053b4;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 5px;
  shadow: 0 4px 20px 0 rgba(00,00,00,1);
  box-shadow: 0 4px 20px 0 rgba(00,00,00,1);
}

.read_more {
  display: block;
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background: #ada1e6;
  border: 1px black;
  padding: 6px 10px 5px 10px;
  height: 30px;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
}

.read_more:active{
  background: #9859ff;
  shadow: 0 4px 10px 0 rgba(00,00,00,1);
  box-shadow: 0 4px 10px 0 rgba(00,00,00,1);
}

img {
  width: 100px;
  float: left;
  margin-right: 10px;
  border-radius: 5px;
}





footer {
  height: 36px;
  background: #605399;
  margin-top: 30px;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center

}

footer a {
  display: inline-block;
  width: 30px;
  height:30px;
  margin-left: 20px;
  margin-top: 3px;
  border-radius: 50%;
  background-position: center center; /* Положение фона */
  background-repeat: no-repeat;
}

.tw {
  background-image: url(../img/tw.png);
  /*background-position: center center; /* Положение фона */
  background-repeat: no-repeat;*/
  background-color:#6c7e7d;
}

.inst {
  background-image: url(../img/inst.png);
  /*background-position: center center; /* Положение фона */
  background-repeat: no-repeat;*/
  background-color:#6c7e7d;
}

.fb {
  background-image: url(../img/fb.png);
  /*background-position: center center; /* Положение фона */
  background-repeat: no-repeat;*/
  background-color:#6c7e7d;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
