h1 {
  display: none;
}

.container {
  display: block;
  background: #f0f8ff;
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
  padding: 31px;
}

.left_side {
  float:left;
  width: 30%;
  min-height: 200px;
  position: relative;
  top: 12px;
}

.left_side ul {
  shadow: 0 4px 20px 0 rgba(00,00,00,1);
  box-shadow: 0 4px 20px 0 rgba(00,00,00,1);
  background: #c2c2c2;
  border-radius: 5px;
  padding:0;
}

.left_side li {
  padding: 8px;
  color: black;
}

.left_side a {
  display: block;
  padding: 3px;
  text-decoration: none;
}

.left_side a:hover {
  background: #a8a8a8;
}

.right_side {
  float:right;
  width: 65%;
  min-height: 200px;
}

article {
  background: #c2c2c2;
  margin-bottom: 20px;
  padding: 5px;
  padding-top: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 20px 0 rgba(00,00,00,1);

}

.introduction {
  font-style:italic;
}



@media only screen and (max-width: 40.063em) {



  h2 {
    display: none;
  }





  .feedback .btn {
    border-radius: 0;
  }

  h1 {
    display: block;
    color: white;
    margin: 0;

      padding: 5% 0 5% 5%;

  }

  .left_side {
    display: none;
  }

  .contanier {
    margin: 0;
    padding: 10px;
    width: 100%;
    border-radius: 0;
  }

  .right_side {
    width: 94%;
    float: none;
    margin: 0 auto;
  }


  footer {
    margin-top: 7px;
  }

}
