h1 {
  display: none;
}

.container {
  background-color: #f0f8ff;
  display: block;
  max-width: 1000px;
  padding: 30px;
  opacity: 0.98;
}

.left_side {
  float:left;
  width: 30%;
  min-height: 200px;
  position: relative;
  top: 12px;
}

.left_side ul {
  box-shadow: 0 4px 20px 0 rgba(00,00,00,1);
  background: #c2c2c2;
  border-radius: 5px;
  padding:0;
}

.left_side li {
  padding: 5px;
  color: black;
    height: 35px;
}

.left_side a {
  display: block;
  padding: 3px;
  text-decoration: none;
}

.left_side a:hover {
  background: #a8a8a8;
}

.right_side {
  float:right;
  width: 65%;
  min-height: 200px;
}

article {
  background: #c2c2c2;
  margin-bottom: 20px;
  padding: 5px;
  padding-left: 11px;
  border-radius: 5px;
  box-shadow: 0 4px 20px 0 rgba(00,00,00,1);
}

.read_more {
  text-decoration:none;
  display: block;
  width: 125px;
  height: 30px;
  background: #6c7e7d;
  text-align: center;
  box-sizing: border-box;
  color: black;
  border-radius: 10px;
  box-shadow: none;
  padding-top: 5px;
  margin-bottom: 20px
}

.read_more:active{
  background: #a8a8a8;
  box-shadow: 0 4px 10px 0 #545763;
}

img {
  width: 100px;
  float: left;
  margin-right: 10px;
  border-radius: 5px;
}


/*Small screen*/
@media only screen and (max-width: 30.063em) {

  h1 {
    display: block;
    color: white;
    padding-left: 5%;
  }

  .left_side {
    display: none;
  }

  .container {
    padding: 10px;
    width: 94%;
    border-radius: 0;
  }

  .right_side {
    width: 94%;
    float: none;
    margin: 0 auto;
  }

  footer {
    margin-top: 7px;
  }
}
